@font-face {
  font-family: "EggWriting";
  src: url(../assets/fonts/PAINP___.TTF) format("truetype");
}
@font-face {
  font-family: "Dial";
  src: url(../assets/fonts/typewcond_bold.otf) format("opentype");
}
@font-face {
  font-family: "Money";
  src: url(../assets/fonts/LCDPHONE.ttf) format("truetype");
}
@font-face {
  font-family: "Etching";
  src: url(../assets/fonts/SymphonieCAT.ttf) format("truetype");
}

.egg-stand-title
{
  font-family: "Etching";
}
.person
{
  font-family: "EggWriting";
  font-size:30px;
}
.time-option, text{
  font-family: "Dial";
  font-size: 10px;
  text-shadow: 0.33px 0.33px rgb(190, 164, 85);
}
.money{
  font-family: "Money";
}
